<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>

    <link rel='shorcut icon' href="{% static './img/favicon.png' %}"  type='image/x-icon' />

    <style>
        body {
            background-image: url({% static './img/17515.jpg'%} );
            background-repeat: no-repeat;
        }
    
        #login {
            background-image: url({% static './img/Banner-SP-ILL2.jpg' %} );
            padding-top : 15px;
			padding-bottom: 15px;
        }

        p {
            color : red;
        }

        h1 {
            color : red;
        }

        #acc {
            color : gray;
        }
    </style>    
</head>
<body>
    <div class = "row">
        <div class = "col-md-4"></div>

        <div class = "col-md-4">
            <div id = 'login' align = "center">
                <form method="POST">
                    {% csrf_token %}
                    {% for key, value in form.errors.items %}
                        {{value}}
                    {% endfor %}
                    <h1>Đăng nhập : </h1>
                    <p><label>Tài khoản:</label>{{form.username}}</p>
                    <p><label>Mật khẩu:</label>{{form.password}}</p>
                    <input type="hidden" name="next" value="/"/>
                    <input type="submit" value="Đăng nhập"/>
                    </br>
                    <a href="/customerRegister" id = "acc"> Don't have an account? Register now </a>
                    </br>
                </form>
            </div>        
        </div>

        <div class = "col-md-4"></div>
    </div>
</body>
</html>

